---
permalink: /about.html
---
<!DOCTYPE html>
<html>
<head>
	<title>UTRA | About Us</title>

	<!-- compiled css file -->
	<link rel="stylesheet" type="text/css" href="./assets/css/main.css">
</head>
<body>
	<header id="mainHeader">{% include header.html %}</header>

	<div id="bannerImage">
		<h1 id="titleText">ABOUT</h1>
		<div id="imageOverley" class="overley"></div>
		<img id="aboutImage" src="./assets/img/aboutImage.jpg" alt="UTRA">
	</div>

	<div id="sideMenu">
			<ul>
				<li><a href="/about">About us</a></li>
				<li><a href="#">Who we are</a></li>
				<li><a href="#">History</a></li>
				<li><a href="#">Execs</a></li>
                                <li><a href="#">Contact us</a></li> 
			</ul>
	</div>
        <div>
                <h1 id="main">About us</h1>
                <p id="main">Lorem Khaled Ipsum is a major key to success. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. Find peace, life is like a water fall, you’ve gotta flow. We the best. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to smile. Every chance I get, I water the plants, Lion! Wraith talk. How’s business? Boomin. The first of the month is coming, we have to get money, we have no choice. It cost money to eat and they don’t want you to eat.</p>
        </div>        



	<footer id="mainFooter">{% include footer.html %}</footer>
</body>
</html>
